<div class="loginContainer">
    <div class="row">
        <div class="col-md-12">
            <div class="login-brand first-color">
                <i class="fab fa-twitter"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 login-text">
            <h1>Mini Twitter</h1>
        </div>
        <div class="col-12 login-text">
            <div *ngIf="alerts.errors" class="alert alert-danger alert-dismissible fade show" role="alert">
                <span *ngIf="changeScreen">Error al registrarse :(</span>
                <span *ngIf="!changeScreen">Error al iniciar sesión :(</span>
            </div>
            <div *ngIf="alerts.success" class="alert alert-success alert-dismissible fade show" role="alert">
                <span *ngIf="changeScreen">Registrado Correctamente :) </span>
                <span *ngIf="!changeScreen">Inicio de sesión correcto :)</span>
            </div>
            <form [formGroup]="formGroup" class="mb-4">
                <div class="form-group" *ngIf="changeScreen">
                    <input type="text" class="form-control form-control-sm" formControlName="name" name="name" placeholder="Nombre" [ngClass]="{'border-danger': validateInput('name')}">
                    <small *ngIf="formGroup.get('name').hasError('required') && formGroup.get('name').touched">Este campo es requerido</small>
                </div>
                <div class="form-group" *ngIf="changeScreen">
                    <input type="text" class="form-control form-control-sm" formControlName="lastname" name="lastname" placeholder="Apellido" [ngClass]="{'border-danger': validateInput('lastname')}">
                    <small *ngIf="formGroup.get('lastname').hasError('required') && formGroup.get('lastname').touched">Este campo es requerido</small>
                </div>
                <div class="input-group input-group-sm mb-3" *ngIf="changeScreen">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" class="form-control form-control-sm" formControlName="nickname" name="nickname" placeholder="Nickname" [ngClass]="{'border-danger': validateInput('password')}">
                    <small *ngIf="formGroup.get('nickname').hasError('required') && formGroup.get('nickname').touched">Este campo es requerido</small>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control form-control-sm" formControlName="email" name="email" placeholder="E-mail" [ngClass]="{'border-danger': validateInput('email')}">
                    <small *ngIf="formGroup.get('email').hasError('required') && formGroup.get('email').touched">Este campo es requerido</small>
                    <small *ngIf="formGroup.get('email').hasError('email')">Este campo debe de ser un Email</small>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-sm" formControlName="password" name="password" placeholder="Password" [ngClass]="{'border-danger': validateInput('password')}">
                    <small *ngIf="formGroup.get('password').hasError('required') && formGroup.get('password').touched">Este campo es requerido</small>
                </div>
                <button type="button" [disabled] ="!formGroup.valid" *ngIf="!changeScreen" class="btn firts-style-button" (click)="login()">Iniciar Sesión</button>
                <button type="button" [disabled] ="!formGroup.valid" *ngIf="changeScreen" class="btn firts-style-button" (click)="register()">Registrarme</button>
            </form>
            <a href="javascript:void(0)">¿Olvidaste tu contraseña? | </a>
            <a href="javascript:void(0)" (click)="addFields()" *ngIf="!changeScreen">Registrarme</a>
            <a href="javascript:void(0)" (click)="subtractFields()" *ngIf="changeScreen">Iniciar Sesión</a>
        </div>
    </div>
</div>