<app-navbar></app-navbar>
<div class="ProfileContainer">
    <div class="row">
        <div class="col-6">
            <div class="profilePhoto" *ngIf="userData">
                <img [src]="croppedImage || userData.photo || 'assets/twitter-logo.png'" alt="Profile Photo">
            </div>
        </div>
        <div class="col-6">
            <div class="buttonEdit">
                <button type="button" class="btn second-style-button btn-sm" *ngIf="!changeScreen" (click)="editUser()">Editar Perfil</button>
                <button type="button" class="btn second-style-button btn-sm mb-4" *ngIf="changeScreen" (click)="saveDataUser()">Guardar Información</button>
            </div>
        </div>
    </div>
    <ng-container *ngIf="!changeScreen">
        <ng-container *ngIf="userData">
            <div class="row">
                <div class="col-12">
                    <h4>{{userData.name}} {{userData.lastname}}</h4>
                </div>
                <div class="col-12">
                    <p class="third-color mb-4">@{{userData.nickname}}</p>
                </div>
                <div class="col-12">
                    <p class="second-color">{{userData.description}}</p>
                </div>
                <div class="col-4">
                    <a class="mr-3" href="userData.webpage">   {{userData.webpage}}</a>
                </div>
                <div class="col-4">
                    <p class="second-color mr-3"><i class="fas fa-map-marker-alt"></i>   {{userData.city}},{{userData.country}}</p>
                </div>
                <div class="col-4">
                    <p class="second-color mr-3"><i class="fas fa-birthday-cake"></i>   {{userData.born}}</p>
                </div>
            </div>
            <div class="row center-follow">
                <div class="col-5">
                    <b>1.600</b><p class="third-color">Seguidores</p>
                </div>
                |
                <div class="col-5">
                    <b>102</b> <p class="third-color">Seguidos</p>
                </div>
            </div>
            <div class="Tweet mt-4 mb-4">
                <div class="row">
                    <div class="col-12" *ngIf="!tweetData.flat">
                        <button type="button" (click)="tweet()" class="btn second-style-button">Tweet</button>
                    </div>
                    <div class="col-12 form-group" *ngIf="tweetData.flat">
                        <textarea class="form-control" [(ngModel)]="tweetData.message" name="message" rows="5"></textarea>
                    </div>
                    <div class="col-6" *ngIf="tweetData.flat">
                        <button type="button" (click)="postTweet()" class="btn second-style-button">¡Tweetear!</button>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="changeScreen">
        <form [formGroup]="formGroup">
            <div class="row">
                <div class="col-3">
                    <input type="file" (change)="fileChangeEvent($event)" />
                    <image-cropper
                        [imageChangedEvent]="imageChangedEvent"
                        [maintainAspectRatio]="true"
                        [aspectRatio]="4 / 3"
                        format="png"
                        (imageCropped)="imageCropped($event)"
                        (imageLoaded)="imageLoaded()"
                        (cropperReady)="cropperReady()"
                        (loadImageFailed)="loadImageFailed()"
                    ></image-cropper>
                </div>
                <div class="col-9">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="userData.name" formControlName="name" placeholder="Nombre" [ngClass]="{'border-danger': validateInput('name')}">
                                <small *ngIf="formGroup.get('name').hasError('required') && formGroup.get('name').touched">Este campo es requerido</small>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="userData.lastname" formControlName="lastname" placeholder="Apellido" [ngClass]="{'border-danger': validateInput('lastname')}">
                                <small *ngIf="formGroup.get('lastname').hasError('required') && formGroup.get('lastname').touched">Este campo es requerido</small>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input type="date" class="form-control" [(ngModel)]="userData.born" formControlName="born" placeholder="Fecha de Nacimiento" [ngClass]="{'border-danger': validateInput('born')}">
                                <small *ngIf="formGroup.get('born').hasError('required') && formGroup.get('born').touched">Este campo es requerido</small>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="userData.nickname" formControlName="nickname" placeholder="@Nick" [ngClass]="{'border-danger': validateInput('nickname')}">
                                <small *ngIf="formGroup.get('nickname').hasError('required') && formGroup.get('nickname').touched">Este campo es requerido</small>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="userData.city" formControlName="city" placeholder="City" [ngClass]="{'border-danger': validateInput('city')}">
                                <small *ngIf="formGroup.get('city').hasError('required') && formGroup.get('city').touched">Este campo es requerido</small>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="userData.country" formControlName="country" placeholder="Country" [ngClass]="{'border-danger': validateInput('country')}">
                                <small *ngIf="formGroup.get('country').hasError('required') && formGroup.get('country').touched">Este campo es requerido</small>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="userData.webpage" formControlName="webpage" placeholder="Webpage">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="userData.email" formControlName="email" placeholder="E-mail" [ngClass]="{'border-danger': validateInput('email')}">
                                <small *ngIf="formGroup.get('email').hasError('required') && formGroup.get('email').touched">Este campo es requerido</small>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <textarea class="form-control" formControlName="description" [(ngModel)]="userData.description" placeholder="Descripción" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </form>
    </ng-container>
    <ng-container *ngIf="userData && postData" >
        <div class="posts" *ngFor="let post of postData; let i = index">
            <div class="row justify-content-center">
                <div class="col-12">
                    <p>{{userData.name}} | {{userData.nickname}}</p>
                </div>
                <div class="col-12 m-0">
                    <ul>
                        <p>{{post.message}}</p>
                    </ul>
                </div>
                <div class="col-12 m-0" >
                    <div *ngIf="post.likes.liked">
                        <i (click)="saveLike(post)" class="fas fa-heart"></i>
                    </div>
                    <div  *ngIf="!post.likes.liked">
                        <i (click)="saveLike(post)" class="far fa-heart"></i>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                        <label for="" class="text-white">Commentario</label>
                        <textarea class="form-control" name="comment" id="comment" cols="30" rows="3" [(ngModel)]="comment"></textarea>
                        </div>
                        <button class="btn btn-primary" (click)="saveComment(post)">Commentario</button>
                    </div>
                    <div class="list" *ngIf="post.comments.length > 0">
                        <li *ngFor="let comment of post.comments" class="item-list text-white">{{  comment.message }}</li>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </ng-container>
</div>
